* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body {
  background: #2d2d2d;
  color: #f0f0f0;
}
.container {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
}
.navigation {
  background: #373f96;
  /* width: 100%; */
  /* height: 8vh; */
}
.ico-img{
    margin: 2vh 0 1vh 1vw;
    width: 2rem;
    height: 2rem;
}
.ico-img > img{
    width: 7rem;
    height: 2rem;
}
.nav-item{
  font-size: 1.3rem;
  font-weight: 510;
  text-transform: capitalize;
}
.nav-line{
    width: 80%;
    display: flex;
    align-self: center;
    margin: 0 auto 0 auto;

    text-align: center;
    border: #9ba2ffdc solid 0.01rem;
}
.landing {
  background: url(Assets/intro-bg.jpg);
  width: 100%;
  height: 94vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.land-div{
  margin: auto;
}
.landing-welcome{
  color: #c9c7c7e0;
  font-size: 2.5rem;
}
.landing-phrase{
  box-shadow: black;
  color: #ffffffce;
  padding: 0.5rem;
}

.know-more-btn{
    color: #ffbcbc;
    padding: 0.4rem;
    background: #ffffff00;
    border: solid 0.05rem #050202;
    border-radius: 0.7rem;
}
.about {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: max-content;
  align-items: center;
}
.about-bg{
  height: auto;
  width: max-content;
}
@media (max-width: 500px){
  .about-bg{
    width: 100%;
  }
}
.about-hd{
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 400;
  color: #000000;
  font-size: 2rem;
  text-decoration: underline #71dff3;
}

.about-para-heading{
  font-size: 1.5rem;
  font-weight: 600;
  color: #ac0988;
}
.things-we-can-do {
  text-align: center;
  background: #fff;
}
.things-heading{
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline #d424f7;
}
.things-main-para{
  text-align: left;
}
.get-in-touch {
  background: #fff;
  text-align: center;

}
.get-touch-heading{
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline #5771e6;
}
.join-us {
  background: #fff;
  height: max-content;
}
.join-us-heading{
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline #5771e6;
}
.join-us-fonto{
  height: 30rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.join-us-fonto *{
  padding: 1rem;
  transition-duration: 300ms;
}
.join-us-fonto > i:hover{
  font-size: 5rem;
  color: #b81128;
}
.bottom-bar{
  padding: 0.3rem;
  align-items: center;
}
.btm-para
{
  margin-top: 0.5rem;
}
.linkedin-link{
  color: #f0f0f0;
}
.linkedin-link:hover{
  text-decoration: none;
  color: #bebebe;
}